body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141311;
    color:#ffffff;
}

header {
    padding-left: 10px;
}

a:link {
    color:#6B6B6B;
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: #363538;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #BfBfBf;
    text-decoration: none;
}

/* selected link */
a:active {
    columns: #408697;
    text-decoration: none;
}

p.small {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: inherit;
    color:#BfBfBf;
}

div.paper_short_title {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:#e2dfdf;
}

div.paper_short_title:hover {
    color: inherit;
}

a.paper {
    color:#BfBfBf;
    font-size: small;
}

a.paper:hover {
    color:  #F6BB0A;
    text-decoration: none;
}

a.code {
    color: lightslategray;
    font-size: small;
}

a.code:hover {
    color: #F6BB0A;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

a.text_link {
    color:#F6BB0A;
}

div.year {
    padding-left: 10px;
    color: #494949;
}

div.text_blurb {
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:#BfBfBf;
    font-size: 12pt;
}

article.download {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
}

article.download:hover {
    color:#ffffff;
}